html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, td
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {line-height:1} ol, ul {list-style:none} blockquote, q {quotes:none} blockquote:before, blockquote:after, q:before,
q:after {content:none} :focus {outline:0} ins {text-decoration:none} del {text-decoration:line-through}
img {border:0;outline:0}

html,body {width:100%;color:#444;font:16px Arial;height:100%;margin:0;max-height:100%;}
body {background-color:#444;min-width:1024px;}

h1 {font-size:20px; color:#444;line-height: 40px}

#main_wrap {position:relative;width:1000px;margin:0 auto;padding:14px;background:#aaa}

.wrap_cols {position:relative;display:block}

.col_3_1 {position:relative;width:400px;float:left;background-color: #fff;margin:2px;padding:4px}
.col_3_2 {position:relative;width:400px;float:left;background-color: #fff;margin:2px;padding:4px}
.col_3_3 {position:relative;width:150px;float:left;background-color: #fff;margin:2px;padding:4px}
.table_head {font-weight: 700;color:#333}

.clear {position:relative;width:100%;clear:both;font-size:0;overflow:hidden;line-height:0}